@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

:root {
  --gray-dark: #101828;
  --gray-light: #344054;
  --gray-lighter: #F9FAFB;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.transparent-input {
  border: none;
  background: transparent;
}

.transparent-input:focus {
  outline: none;
}