@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&display=swap');

:root {
  --gray-darker: #101828;
  --gray-dark: #344054;
  --gray-light: #667085;
  --gray-lighter: #F9FAFB;
  --primary-purple: #7F56D9;
  --border-one: #eaecf0;
  --success: #027A48;
  --failure: #F04438; 
  --purple-lightest: #f9f5ff;
  ---large-font: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  color: var(--gray-dark);
  font-family: 'Inter', sans-serif;
}


*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

span.material-icons-outlined {
  color: var(--gray-light)
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

button {
  cursor: pointer;
}

.default-input {
  border: none;
  background: transparent;
}

.default-input:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.come-down {
  animation: come-down .5s ease-in-out;
  -webkit-animation: come-down .5s ease-in-out;
}

@keyframes come-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
