@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400&display=swap');

:root {
  --gray-darker: #101828;
  --gray-dark: #344054;
  --grey-light: #667085;
  --gray-lighter: #F9FAFB;
  --primary-purple: #7F56D9;
  --border-one: #eaecf0;
  --success: #027A48;
  --failure: #F04438;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  color: var(--gray-dark);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

button {
  cursor: pointer;
}

.default-input {
  border: none;
  background: transparent;
}

.default-input:focus {
  outline: none;
}